@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/public-sans-v4-latin-300.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v4-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v4-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v4-latin-700.woff") format("woff");
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  font-family: "Public Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.site__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #ccc;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.header__control {
  display: none;
}

.header__control .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 24px;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.menu-button__content {
  width: 24px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/icon-hamburger.svg");
}

.header__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.site__nav {
  margin: 0 15px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  position: relative;
  padding: 31px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2D314D;
}

.nav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  height: 4px;
  display: inline-block;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
}

.nav__link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 750px) {
  .header__control {
    position: relative;
    z-index: 1;
    display: block;
  }
  .menu-button--active + .site__nav.site__nav {
    display: block;
  }
  .header__control .site__nav {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 80px);
    display: none;
    margin: 0;
    padding: 0 24px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2D314D), to(rgba(45, 49, 77, 0.0001)));
    background-image: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
  }
  .header__control .nav__list {
    max-width: 327px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 24px auto;
    padding: 32px 0;
    background-color: #FFFFFF;
    border-radius: 4px;
  }
  .header__control .nav__link {
    display: inline-block;
    padding: 12px;
    color: #2D314D;
  }
  .header__control .nav__link:hover::after {
    display: none;
  }
  .header__content {
    display: none;
  }
}

.site__logo {
  min-width: 139px;
  display: inline-block;
}

.request-link {
  display: inline-block;
  padding: 8px 33px;
  padding-right: 36px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  white-space: nowrap;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}

.request-link:hover {
  opacity: 0.4;
}

.hero {
  background-color: #F2F2F2;
}

.site__footer {
  background-color: #2D314D;
}

.site__footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 48px 20px;
}

.footer__logo {
  margin-bottom: 55px;
}

.footer-left {
  margin-right: 40px;
}

.social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-network {
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.social-network:hover {
  color: #30C88F;
}

.social-network + .social-network {
  margin-left: 13px;
}

.footer-nav__list {
  width: 350px;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-nav__link {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-nav__link:hover {
  color: #30C88F;
}

.footer-right .request-link {
  margin-bottom: 24px;
}

.copyright {
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  opacity: 0.5;
}

@media (max-width: 800px) {
  .site__footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-left {
    margin-right: 60px;
    margin-bottom: 40px;
  }
  .footer__logo {
    margin-bottom: 32px;
  }
  .footer-right {
    text-align: center;
  }
}

@media (max-width: 610px) {
  .site__footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-left {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer-nav__list {
    max-width: 250px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
}
/*# sourceMappingURL=main.css.map */