 @font-face {
   font-family: "Public Sans";
   font-style: normal;
   font-weight: 300;
   src:
     url("../fonts/public-sans-v4-latin-300.woff2") format("woff2"),
     url("../fonts/public-sans-v4-latin-300.woff") format("woff");
 }

 @font-face {
   font-family: "Public Sans";
   font-style: normal;
   font-weight: 400;
   src:
     url("../fonts/public-sans-v4-latin-regular.woff2") format("woff2"),
     url("../fonts/public-sans-v4-latin-regular.woff") format("woff");
 }

 @font-face {
   font-family: "Public Sans";
   font-style: normal;
   font-weight: 700;
   src:
     url("../fonts/public-sans-v4-latin-700.woff2") format("woff2"),
     url("../fonts/public-sans-v4-latin-700.woff") format("woff");
 }