.advantages {
  background-color: #f4f5f7;
}

.advantages .container {
  padding: 95px 20px;
}

.advantages__info {
  max-width: 635px;
  margin-bottom: 72px;
}

.advantages__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -1px;
  color: $main-bright-cyan;
}

.advantages__paragraph {
  margin: 0;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: $main-gray;
}

.advantages__list {
  @include reset-list;
  display: flex;
  margin: 0 -15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage {
  max-width: 255px;
  margin: 15px;

  &::before {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin-bottom: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
  }

  &:nth-child(1)::before {
    background-image: url("../img/icon-online.svg");
  }

  &:nth-child(2)::before {
    background-image: url("../img/icon-budgeting.svg");
  }

  &:nth-child(3)::before {
    background-image: url("../img/icon-onboarding.svg");
  }

  &:nth-child(4)::before {
    background-image: url("../img/icon-api.svg");
  }
}


.advantage__heading {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: $main-bright-cyan;
}

.advantage__paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: $main-gray;
}

@include breakpoint-down (860px) {
  .advantages__list {
    justify-content: space-around;
  }
}

@include breakpoint-down(580px) {

  .advantages__info {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
  }

  .advantages__heading {
    font-size: 32px;
    line-height: 38px;
  }

  .advantages__paragraph {
    font-size: 15px;
    line-height: 25px;
  }

  .advantage {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .advantage__heading {
    font-size: 20px;
    line-height: 28px;
  }

  .advantage__paragraph {
    font-size: 15px;
    line-height: 25px;
  }
}